$color: #ff6563;
$colorlive: rgb(228, 242, 245);
$hovercolor: #ff5722;
$fonts_i: #ff5722;
$bg3: rgba(4, 3, 3, 0.28);
$fbg: #333;
// fa8b68


body{
  font-family: 'Oswald', sans-serif;
  // padding-top: 0;


}
// .fbg{
//   background: $fbg;
//   color: #fff;
//   padding-bottom: 10rem;
//
// }
.navbar-light .navbar-toggler {
    margin-right: -50px;
    border-color: rgba(0, 0, 0, 0.1);
}

.card-2  {
  margin: 5px;
  margin-top: -50px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.18);
  font-family: 'News Cycle', sans-serif;

}




.font i{
  color: $fonts_i;
  padding: 1rem;
}
.navbar{
  padding-top: 20px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.18);
}

.logo img{

  width: 7rem;
  height: auto;

}
.bg{
  background: #FF5722;
}
.bg3{
  background: $bg3;
  padding: 10px;
}
.carousel-indicators .active {
    background-color: #fa8b68;
}

.carousel {
  // margin-bottom: 4rem;
  border-bottom: solid 4px #fa8b68;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  /*height:*/
  /*height: 32rem;*/
background-size: cover;
 height: 78vh;
 overflow: hidden;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  margin-left: 4px;
  margin-right: 4px;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    /* background: silver; */
    border-bottom: solid 2px #fa8b68;
    // padding: 2px;
    -webkit-transition: all 2s ease-in-out; /* Safari */
    transition: all 2s ease-in-out;
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: #fff;
  /* background: silver; */
  border-bottom: solid 2px #fa8b68;
  // padding: 2px;
  -webkit-transition: all 2s ease-in-out; /* Safari */
  transition: all 2s ease-in-out;
}
.back-to-top {
  background: $color;
  border-color: $color;
  z-index: 100;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    &:hover{
      background: $hovercolor;
      border-color: $hovercolor;
    }
}
.back-to-top span img{
  width: 1rem ;
  height: auto;
}

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $hovercolor;
    background-image: none;
    border-color: $hovercolor;
}
.color{
  background: $colorlive;
  padding: 3rem;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
      background-color: #fff;
    border-radius: 0.3rem;
}
.bd-footer {
    // padding: 4rem ;
    // margin-top: 4rem;
    // font-size: 85%;
    // text-align: center;

}
.bd-footer i{
  // padding: 1rem;
}
.bg-section{
  background: repeating-linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.6) 100%),
  repeating-linear-gradient(1deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0) 58%,#fff),
  repeating-linear-gradient(181deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0) 81%,#fff),
  repeating-linear-gradient(45deg,hsla(0,0%,86%,.8),hsla(0,0%,86%,.8) 20px,hsla(0,0%,93%,.8) 0,
  hsla(0,0%,93%,.8) 60px,hsla(0,0%,86%,.8) 0,hsla(0,0%,86%,.8) 80px,#fff 0,#fff 90px,#eee 0,#eee 110px,#fff 0,#fff 120px,#eee 0,#eee 140px,#fff 0,
  #fff 150px,#eee 0,#eee 170px,#fff 0,#fff 180px,#eee 0,#eee 200px);
}
.carousel {
    margin-top: 50px;
    margin-bottom: 4rem;
    border-bottom: solid 4px #fa8b68;
}
.cuerpo{
  margin-top: 70px;
   height: 80vh;
  //  min-height: 600px

}
.empresa{
  margin-bottom: 15px;
}
.body_contenido{
  margin-top: 70px;
  //  height: 70vh;
  //  padding: 50px;
}
.menu_prod{
margin-top: 70px;
z-index: 150;
background-color: white;

}
.espacio{
  margin-top: 150px;
}

img.show_img {
    max-width: 70%;
    width: 40%;
    min-width: 40%;
    height: auto;
}

// producto
